/* ----------------------------- *\
        SECCION CORAZON
\* ----------------------------- */

.seccion-corazon {
    height: 120px;
    margin-top: 20px;
    justify-self: flex-end;
    align-self: center;
    position: relative;
}

    .corazon-parrafo {
        margin-right: 15px;
        color: rgba(0,0,0,.8);

        font-size: .9em;
        font-weight: 500;
    }

    .corazon {
        width: 100px;
        height: 100px;
        cursor: pointer;
        background-image: url('../sprite/corazon.png');
        
        position: absolute;
        bottom: -5px;
        left: calc(50% - 50px);
    }

    /* Clase que asigna la animacion de corazon al elemento */
    .corazon.is-liked {
        animation-name: animacion-corazon;
        animation-duration: .8s;
        animation-timing-function: steps(28);
        animation-fill-mode: forwards;

        will-change: background-position;
    }

/* ANIMACION DE CORAZON */
@keyframes animacion-corazon {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position-x: right;
    }
}

/* MEDIA QUERIES DE SECCION CORAZON */
@media screen and (max-width: 1024px) {
    .seccion-corazon {
        height: 100px;
        margin-top: 15px;
    }

        .corazon-parrafo {
            font-size: .8em;
        }

        .corazon {
            bottom: -10px;
        }
}

@media screen and (max-width: 768px) {
    .seccion-corazon {
        height: 80px;
        margin-top: 10px;
    }

        .corazon-parrafo {
            font-size: .7em;
            margin-right: 5px;
        }
    
        .corazon {
            bottom: -20px;
        }
}

@media screen and (max-width: 480px) {
    .seccion-corazon {
        grid-area: corazon;
        height: 60px;
        margin-top: 0;
        justify-self: center;
        align-self: center;
    }

        .corazon-parrafo {
            font-size: .6em;
            margin-right: 0;
            margin-top: 0;
        }
    
        .corazon {
            bottom: -25px;
        }
}
/* MEDIA QUERIES DE SECCION CORAZON */