/* ----------------------------- *\
            GENERALES
\* ----------------------------- */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: system-ui, sans-serif;

    background-color: #0f9bf6;
}

.grid-container {
    margin: 0 auto;
    max-width: 1830px;
    background: linear-gradient(to bottom, #4fb6f9 50%, #0f9bf6 100%);

    display: grid;
    grid-template: 280px 200px 230px 180px / 1fr minmax(320px, 1024px) 1fr;
    grid-template-areas: "header header header" ". menu ." ". saludo ." ". footer .";
    grid-gap: 10px;
    justify-content: center;
}

.grid-container > * {
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .1);
}

/* ----------------------------- *\
        ENCABEZADO (OLAS)
\* ----------------------------- */

.header {
    grid-area: header;
    width: 100%;
    overflow: hidden;
    position: relative;

    margin-top: 0;
    border-radius: 0;
    background-color: #0f9bf6;
}

    .header-titulo {
        height: 100%;
        font-size: 4em;
        color: rgba(255,255,255,.8);
        margin: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-ola {
        width: 2402px;
        height: 427px;
        background-image: url("../sprite/olas.png");

        position: absolute;
        left: -185px;
        bottom: -200px;

        animation-name: ola;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    .header-ola.a {
        background-position: 0 -854px;
    }
    .header-ola.b {
        background-position: 0 -427px;
        animation-delay: 1s;
    }
    .header-ola.c {
        background-position: 0 0;
        animation-delay: 2s;
    }

@keyframes ola {
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-160px, 30px);
    }
    100%{
        transform: translate(160px, -50px);
    }
}

/* ----------------------------- *\
        SECCION DE MENU
\* ----------------------------- */

.seccion-menu {
    grid-area: menu;
}

    .menu-titulo {
        text-align: center;
        font-weight: 600;
    }

    .menu-container {
        display: grid;
        grid-template-columns: repeat(3, 250px);
        justify-content: center;
        justify-items: center;
        grid-gap: 10px;
    }

        .menu-link {
            height: 45px;
            width: 180px;
            color: rgba(255,255,255,.6);
            cursor: pointer;

            font-size: 1em;
            font-weight: 600;
            text-transform: uppercase;

            border-radius: 25px;
            border: 1px #0f9bf6;
            box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, .1);

            display: flex;
            align-items: center;
            justify-content: center;

            transition: 200ms;
        }
        .menu-link:hover {
            transform: scale(1.1)
        }

        #btnModal {
            background-color: #0f9bf6;
            color: rgba(255,255,255,.8);
        }

/* ----------------------------- *\
        SECCION DE SALUDO
\* ----------------------------- */

.seccion-saludo {
    grid-area: saludo;

    display: flex;
    align-items: center;
    position: relative;
}

    .saludo-circulo {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: #4fb6f9;
        box-shadow: 0px 0px 1px 1px #4fb6f9;
        
        display: flex;
        justify-content: center;
        align-items: center; 
        position: absolute;

        will-change: opacity;
    }
    .saludo-circulo.a {
        left: 15px;
    }
    .saludo-circulo.b {
        right: 15px;
    }
    .saludo-circulo.c {
        opacity: 0;
        width: 300px;
        left: calc(50% - 150px);
    }

        .saludo {
            color: rgba(255,255,255,.8);;
            font-weight: 700;
            text-transform: uppercase;
            will-change: opacity;
        }

    #btnPausePlay {
        font-size: 28px;
        color: rgba(255, 255, 255, .6);
        cursor: pointer;

        position: absolute;
        bottom: 5px;
        left: 5px;

        transition: 200ms;
    }

    #btnPausePlay:active {
        transform: scale(0.9)
    }

/* ----------------------------- *\
        SECCION MODAL
\* ----------------------------- */

.seccion-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(-2000px)
}

    .capa {
        position: fixed;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .capa.activa {
        background-color: rgba(0,0,0,.5);
    }

        .modal {
            height: 230px;
            width: 450px;
            border-radius: 10px;
            background-color: white;
            box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, .1);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .modal-titulo {
                color: #0f9bf6;
                margin: 10px 0 0;
                
                text-transform: uppercase;
                font-size: 1.2em;
                font-weight: 700;
                text-align: center;
            }

            .modal-contenido {
                text-align: center;
                margin: 1em 1.5em;
            }

            .modal-boton {
                height: 35px;
                width: 100px;
                margin-top: 15px;
                cursor: pointer;
                font-size: 0.9em;

                color: white;
                background-color: #0f9bf6;

                border-radius: 25px;
                border: none;
            }

@keyframes modalIn {
    0% {
        transform: translateY(-2000px);
    }
    60% {
        transform: translateY(25px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
}

@keyframes modalOut {
    0% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(-2000px);
    }
}

/* ----------------------------- *\
        SECCION PLATZI
\* ----------------------------- */

footer {
    grid-area: footer;
    border-radius: 5px 5px 0 0;

    display: grid;
    grid-template-columns: auto auto;
}

.seccion-platzi {
    height: 120px;
    align-self: center;
}

    .platzi-parrafo {
        font-size: .9em;
        margin-left: 15px;

        font-weight: 500;
        color: rgba(0,0,0,.8)
    }

    .platzi-link {
        display: flex;
    }

        .platzi-logo {
            width: 50px;
            height: 50px;
            margin: 0 0 0 20px; 
            transform: rotate(45deg);

            animation: logo-platzi 2s alternate infinite ease-in-out;
        }
        
            .logo-top {
                width: 100%;
                height: 60%;
                
                border-radius: 10px 10px 0 0;
                border: 12px solid #87c739;
                border-bottom: none;
                box-sizing: border-box;

                animation: logo-platzi-top 2s alternate infinite 2.4s linear;
            }
            
            .logo-bottom {
                width: 100%;
                height: 40%;

                border-radius: 0 0 10px 10px;
                border: 12px solid #87c739;
                border-top: none;
                box-sizing: border-box;
            }
        
        .link-texto {
            margin-left: 10px;
            color: rgba(0, 0, 0, 0.7);

            font-size: 4em;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 2px;
        }

@keyframes logo-platzi {
    0% {
        transform: rotate(45deg) scale(1);
    }
    60% {
        transform: rotate(45deg) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotate(-315deg) scale(0.4);
        opacity: 0;
    }
}

@keyframes logo-platzi-top {
    40% {
        width: 100%;
    }
    60%, 100% {
        width: calc(100% - 10px);
    }
}

/* ----------------------------- *\
        SECCION CORAZON
\* ----------------------------- */

.seccion-corazon {
    height: 120px;
    justify-self: flex-end;
    align-self: center;
    position: relative;
}

    .corazon-parrafo {
        font-size: .9em;
        font-weight: 500;
        color: rgba(0,0,0,.8);
        margin-right: 15px;
    }

    .corazon {
        width: 100px;
        height: 100px;
        cursor: pointer;
        background-image: url('../sprite/corazon.png');
        
        position: absolute;
        bottom: -5px;
        left: calc(50% - 50px);
    }

    .corazon.is-liked {
        animation-name: animacion-corazon;
        animation-duration: .8s;
        animation-timing-function: steps(28);
        animation-fill-mode: forwards;
    }

@keyframes animacion-corazon {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position-x: right;
    }
}