/* ----------------------------- *\
        SECCION PLATZI
\* ----------------------------- */

footer {
    grid-area: footer;

    display: grid;
    grid-template-columns: auto auto;
}

.seccion-platzi {
    height: 120px;
    margin-top: 20px;
    align-self: center;
    position: relative;
}

    .platzi-parrafo {
        font-size: .9em;
        margin-left: 15px;

        font-weight: 500;
        color: rgba(0,0,0,.8)
    }

    .platzi-link {
        text-decoration: none;
        display: flex;
        position: relative;
    }

        .platzi-logo {
            width: 45px;
            height: 45px;
            margin: 0 0 0 20px; 
            transform: rotate(45deg);

            /* Asigna la animacion de logo al elemento */
            animation: logo-platzi 2s alternate infinite ease-in-out;
        }
        
            .logo-top {
                width: 100%;
                height: 60%;
                
                border-radius: 10px 10px 0 0;
                border: 10px solid #87c739;
                border-bottom: none;
                box-sizing: border-box;

                /* Asigna la animacion que dara la forma de P al logo  */
                animation: logo-platzi-top 2s alternate infinite 2.4s linear;
            }
            
            .logo-bottom {
                width: 100%;
                height: 40%;

                border-radius: 0 0 10px 10px;
                border: 10px solid #87c739;
                border-top: none;
                box-sizing: border-box;
            }
        
        .link-texto {
            margin-left: 10px;
            color: rgba(0, 0, 0, 0.7);

            font-size: 3.5em;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 2px;
        }

/* ANIMACION DE LOGO */
@keyframes logo-platzi {
    0% {
        transform: rotate(45deg) scale(1);
    }
    60% {
        transform: rotate(45deg) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotate(-315deg) scale(0.4);
        opacity: 0;
    }
}

/* ANIMACION ELEMENTO SUPERIOR DEL LOGO */
@keyframes logo-platzi-top {
    40% {
        width: 100%;
    }
    60%, 100% {
        width: calc(100% - 20%);
    }
}

/* MEDIA QUERIES DE SECCION PLATZI */
@media screen and (max-width: 1024px) {
    .seccion-platzi {
        height: 100px;
        margin-top: 15px;
    }

        .platzi-parrafo {
            font-size: .8em;
        }
            
        .platzi-logo {
            width: 40px;
            height: 40px;
        }
                .logo-top {
                    border-width: 9px;
                }
                
                .logo-bottom {
                    border-width: 9px;
                }
            
            .link-texto {
                margin-left: 10px;

                font-size: 3em;
                line-height: 35px;
                letter-spacing: 1px;
            }
}

@media screen and (max-width: 768px) {
    footer {
        grid-column-gap: 15px;
    }

    .seccion-platzi {
        height: 80px;
        margin-top: 10px;
    }

        .platzi-parrafo {
            font-size: .7em;
            margin-left: 7px;
        }

            .platzi-logo {
                width: 30px;
                height: 30px;
                margin: 0 0 0 10px;
            }

            .logo-top {
                border-width: 7px;
                border-radius: 8px 8px 0 0;
            }
            
            .logo-bottom {
                border-width: 7px;
                border-radius: 0 0 8px 8px;
            }

        .link-texto {
            margin-left: 5px;

            font-size: 2em;
            line-height: 30px;
            letter-spacing: 1px;
        }
}

@media screen and (max-width: 480px) {
    footer {
        grid-column-gap: 15px;
        grid-template: 60px 60px / 1fr;
        grid-template-areas: "corazon" "platzi";
        align-content: center;
    }

    .seccion-platzi {
        height: 60px;
        margin-top: 0;

        grid-area: platzi;
        justify-self: center;
        justify-items: center
    }

        .platzi-parrafo {
            font-size: .6em;
            margin-left: 0;
            margin-top: 0;
        }

        .platzi-link {
            justify-content: center;
        }

            .platzi-logo {
                width: 25px;
                height: 25px;
                margin: 0;
            }

            .logo-top {
                border-width: 6px;
                border-radius: 6px 6px 0 0;
            }
            
            .logo-bottom {
                border-width: 6px;
                border-radius: 0 0 6px 6px;
            }

        .link-texto {
            margin-left: 5px;

            font-size: 1.8em;
            line-height: 25px;
        }
}
/* MEDIA QUERIES DE SECCION PLATZI */