/* ----------------------------- *\
        SECCION DE SALUDO
\* ----------------------------- */

.seccion-saludo {
    grid-area: saludo;

    display: flex;
    align-items: center;
    position: relative;
}

    .saludo-circulo {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: #4fb6f9;
        box-shadow: 0px 0px 1px 1px #4fb6f9;
        
        display: flex;
        justify-content: center;
        align-items: center; 
        position: absolute;

        will-change: opacity;
    }
    .saludo-circulo.a {
        left: 15px;
    }
    .saludo-circulo.b {
        right: 15px;
    }
    .saludo-circulo.c {
        opacity: 0;
        width: 300px;
        left: calc(50% - 150px);
    }

        .saludo {
            color: rgba(255,255,255,.8);;
            font-weight: 700;
            text-transform: uppercase;
            will-change: opacity;
        }

    #btnPausePlay {
        font-size: 28px;
        color: rgba(255, 255, 255, .6);
        cursor: pointer;

        position: absolute;
        bottom: 5px;
        left: 5px;

        transition: 200ms;
    }

    #btnPausePlay:active {
        transform: scale(0.9)
    }

/* MEDIA QUERIES DE SECCION SALUDO */
@media screen and (max-width: 768px) {
    .saludo-circulo {
        height: 130px;
    }

        .saludo {
            font-size: 0.9em;
        }

    #btnPausePlay {
        font-size: 23px;
    }
}

@media screen and (max-width: 480px) {
    .saludo-circulo {
        height: 110px;
    }

        .saludo {
            font-size: 0.8em;
        }

    #btnPausePlay {
        font-size: 18px;
    }
}
/* MEDIA QUERIES DE SECCION SALUDO */